body {
    background-color: rgb(218, 170, 14);
}
nav {
    a {
    color: rgb(255, 255, 255); }
    li {
    color: rgb(255, 255, 255);
    }
}
main {
    background-color: rgb(255, 255, 255);
    color: rgb(49, 49, 48);
    section {
        background-color: rgb(212, 213, 216);
    }
    button {
        background-color: rgb(218, 170, 14);
        color: rgb(255, 255, 255);
    }
}
footer {
    color: rgb(49, 49, 48);
}
